* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.container {
  width: 80vw;
  margin: 0 auto;
}
hr {
  opacity: 0.5;
}
i {
  color: white;
  cursor: pointer;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.menu .left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.menu .left .file {
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
}
.menu .left input[type="text"] {
  height: 35px;
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.208);
  padding: 5px;
}
.menu .right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu .right i {
  padding: 10px 15px;
  background-color: black;
  border-radius: 5px;
  text-align: center;
}
.menu .right input[type="color"] {
  width: 50px;
  height: 35px;
}
.textarea {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  /* border: 1px solid black; */
  box-shadow: -1px 1px 3px 2px rgba(157, 153, 153, 0.49);
  border: none;
  outline: none;
}
.count {
  margin-top: 20px;
  text-align: right;
}
