* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
.content-box .content {
  position: fixed;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 100px;
  width: 300px;
  margin: 0 auto;
  z-index: 1;
  width: 380px;
  height: 450px;
  padding: 0 40px 30px 40px;
}
.content-box {
  display: none;
}
.content-box.show {
  display: block;
}
.content-box .overlay {
  position: fixed;
  background-color: #00000053;
  inset: 0;
}
.result1 {
  display: none;
}
.result1.show {
  display: block;
}
.result2 {
  display: none;
}
.result2.show {
  display: block;
}
.result3 {
  display: none;
}
.result3.show {
  display: block;
}
.space {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.fa-eye {
  display: none;
}
.fa-eye.show {
  display: block;
}
.fa-eye-slash {
  display: none;
}
.fa-eye-slash.show {
  display: block;
}
